{
	email {$ACME_EMAIL}
}

{$DOMAIN} {
	encode zstd gzip

	@api path /api/* /docs /docs/* /up
	handle @api {
		reverse_proxy php:80
	}

	handle /ws {
		reverse_proxy php:8091
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}

	header {
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(self), microphone=(self)"
		-Server
	}
}
